@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #386641;
  --secondary-color: #f8f9fa;
  --highlight-color: #25a244;
  --bg-color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.3) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
  }
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes rise-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-slide-up {
  animation: slide-up 3s forwards;
}

.animate-rise-up {
  animation: rise-up 3s forwards;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
